$bg_white_blue: #e8f3ff;
$bg_white: #eaefff;
$bg_beguni: #7e77ff;
$f_popin: "Poppins", sans-serif;
$f_roboto: "Roboto Condensed", sans-serif;
$big_fsize: 2rem;
$mid_fsize: 1rem;
$small_fsize: 0.7rem;
$dark_clr: #121212;
