button.GTP_BTN {
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  border-radius: 0.8rem;
  background: linear-gradient(145deg, #d1dae6, #f8ffff);
  box-shadow: 6px 6px 11px #c5ced9, -6px -6px 11px #ffffffba;
  margin: 1rem 0 0 0;
}
